body{
	margin:0;
	padding: 0;
	font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}

#mapness{
	position: absolute;
	bottom: 0;
	height: 100%;
	width: 100%;
	z-index: -1;
	background-color: #D98C90;
}

.jumbotron{
	text-align: center;
	background-color: #D98C90;
	margin-bottom: 0;
	background-image: url("../images/restaurant.png");
}